/incremental_db
/output_files/*
!/output_files/esl_fir_filter.jic
!/output_files/esl_fir_filter.sof
*.bak
/db
c5_pin_model*

nul

.claude

.vscode

.qsys_edit

*.elf
*.map
*.dat
*.spd
*.qip
*.force_relink
*.o
*.d
*.a
*.mk
*.x
*.cf


*.objdump
.settings
